__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.venv
.DS_Store
._*
.env
.env.*
*.env
*.env.*
!*.env.example
!**/*.env.example
._*
*.pem
*.key
*credentials*
*secret*
*password*
tests
htmlcov
.coverage
